<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <br>Welcome to collabify!
        <link rel="stylesheet" href="statics/home.css">
    </head>
    <body>
        <div class="links">
            <br><a href="login">Login Page</a>
            <a href="signup">Signup Page</a>
            <a href="users_list">Users List</a>
            <a href="teams_list">Teams List</a>
            <a href="tasks_list">Tasks List</a>
        </div>
        {{if .message}}
            <p>{{.message}}</p>
        {{end}}
    </body>
</html>