<!DOCTYPE html>
<html>
    <head>
        <title>Signup Page</title>
        <br>Signup</br>
    </head>
    <br><body>
        <form method="post">
           
            <br><input name="username">
            <label>username</label>
            
            <br><input name="email">
            <label>email</label>

            <br><input type="password" name="password">
            <label>password</label>

            <br><input type="password" name="confirm_password">
            <label>confirm password</label>

            <br><button type="submit">Submit</button>
        </form>
        <br>
        {{if .message}}
            <p>{{.message}}</p>
        {{end}}
    </body>  
</html>
