<!DOCTYPE html>
<html>
    <head>
        <title>Tasks List</title>
    </head>
    <body>

    <ul>
        {{range .tasks_list}}
            <li>ID: {{.ID}}, Name: {{.Name}}, TeamID: {{.TeamID}}, Team: {{.Team.Name}}, Deadline: {{.Deadline}}, Status: {{.Status}}</li>
            <form method="post" action="\tasks_list">
                <input type="hidden" name="task_id" value="{{.ID}}">
                <button type="submit">Toggle Status</button>
            </form>
        {{end}}
    </ul>

    <br>
    {{if .message}}
        <p>{{.message}}</p>
    {{end}}
    </body>
</html>